.top-bar-container {
  width: 100%; 
  border-radius: 15px;
}

.left-buttons button,
.right-buttons button {
  margin: 0 4px;
  transition: all 0.2s ease;
}

.left-buttons,
.right-buttons {
  display: flex;
  align-items: center;
}

.right-buttons {
  margin-left: auto; 
}

::ng-deep .top-bar-container .ant-card-body {
  display: flex;
  align-items: center;
  padding: 10px 8px;
  
}
