.top-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  margin-bottom: 16px;
}

.left-buttons button,
.right-buttons button {
  margin: 0 4px;
  transition: all 0.2s ease;
}

.left-buttons {
  display: flex;
  align-items: center;
}

.right-buttons {
  display: flex;
  align-items: center;
}
::ng-deep .top-bar-card .ant-card-body {
  padding: 0 !important;
}