<nz-card class="top-bar-container">
  <div class="left-buttons">
    <button nz-button nzType="text" nzShape="round" (click)="goBack()">
      <span nz-icon nzType="arrow-left"></span>
      Voltar
    </button>
  </div>

 <div class="right-buttons">
  <button
    *ngFor="let button of buttons"
    nz-button
    [nzType]="button.type"
    [nzDanger]="button.danger"
    [nzGhost]="button.ghost"
    nzShape="round"
    (click)="button.action()"
  >
    <span nz-icon [nzType]="button.icon"></span>
    {{ button.label }}
  </button>
</div>

</nz-card>
