<div class="flex items-center justify-between w-full flex-wrap gap-2">
  <!-- Botão Voltar à esquerda -->
  <div>
    <button nz-button nzType="text" nzShape="round" (click)="goBack()">
      <span class="flex items-center gap-1">
        <span nz-icon nzType="arrow-left"></span>
        
      </span>
    </button>
  </div>

  <!-- Botões à direita -->
  <div class="flex flex-wrap gap-2 justify-end">
    <button
      *ngFor="let button of buttons"
      nz-button
      [nzType]="button.type"
      [nzDanger]="button.danger"
      [nzGhost]="button.ghost"
      
      (click)="button.action()"
      style="border-radius: 10px;"
    >
      <span class="flex items-center gap-1">
        <span nz-icon [nzType]="button.icon"></span>
        {{ button.label }}
      </span>
    </button>
  </div>
</div>
